<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkhj4.mapper.PremiumMapper">

    <insert id="createTradeNo"  parameterType="com.hkhj4.entity.TbTradeNo">
        insert into tb_trade_no (trade_no, user_email, premium_id, pay_type, pay_state, sign, create_time, update_time)
        VALUES (#{tradeNo}, #{userEmail}, #{premiumId}, #{payType}, 0, #{sign}, NOW(), NOW());
    </insert>

    <insert id="createMember" parameterType="com.hkhj4.entity.TbMember">
        insert into tb_member (email,premium_type,expire_time,create_time,update_time)
        VALUES (#{email},#{premiumType},#{expireTime},NOW(),NOW());
    </insert>
</mapper>